* {
  box-sizing: border-box;
}

header,
nav,
section,
div {
  width: 100%;
  height: 100%;
}

a {
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(71, 71, 71);
  transition: 0.3s;
}

@media only screen {

  .lvl-1 {
    background-color: rgb(0, 0, 0);
  }

  .lvl-2 {
    background-color: rgb(51, 51, 51);
  }

  .lvl-3 {
    background-color: rgb(71, 71, 71);
  }

  .lvl-4 {
    background-color: rgb(100, 100, 100);
  }

  .lvl-5 {
    background-color: rgb(151, 151, 151);
  }

  .lvl-6 {
    background-color: rgb(171, 171, 171);
  }

  .lvl-7 {
    background-color: rgb(200, 200, 200);
  }

  .lvl-8 {
    background-color: rgb(225, 225, 225);
  }

  .lvl-9 {
    background-color: rgb(255, 255, 255);
  }
}

@media only screen {

  [class*="col-"] {
    overflow: hidden;
    float: left;
  }

  .col-0 {
    display: none;
  }

  .col-1 {
    width: 6.66%;
  }

  .col-2 {
    width: 13.33%;
  }

  .col-3 {
    width: 20%;
  }

  .col-4 {
    width: 26.66%;
  }

  .col-5 {
    width: 33.33%;
  }

  .col-6 {
    width: 40%;
  }

  .col-7 {
    width: 46.66%;
  }

  .col-8 {
    width: 53.33%;
  }

  .col-9 {
    width: 60%;
  }

  .col-10 {
    width: 66.66%;
  }

  .col-11 {
    width: 73.33%;
  }

  .col-12 {
    width: 80%;
  }

  .col-13 {
    width: 86.66%;
  }

  .col-14 {
    width: 93.33%;
  }

  .col-15 {
    width: 100%;
  }
}

body {
  background-color: white;
}

section>h6 {
  display: none;
}

.top-nav-bar {
  height: 10vw;
}

.logo {
  align-items: center;
  text-align: center;
}

.logo svg {
  width: 100%;
  height: auto;
  padding-top: 50%;
}

.logo h2,
.logo span {
  text-align: left;
  padding: 0;
  margin: 0;
  color: white;
}

.top-nav-bar div,
.lts-art div {
  display: grid;
  align-content: center;
}

.navbar-btn ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  color: white;

}

.navbar-btn li {
  height: 100%;
}

.navbar-btn h2 {
  padding: 0;
  margin: 0;
}

.ui-btn {
  float: right;
}

.ui-btn button {
  float: right;
  margin: 10%;
  padding: 10%;
  border-radius: 10%;
  border-color: white;
  border-style: solid;
  color: white;
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(71, 71, 71);

}

.lts-art {
  height: 90vw;
}

a:hover {
  text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);
  font-size: 110%;
}